<h3 class="thing-name">{{bioData.name}}</h3>

       <a id="images">
            <img src="/images/{{bioData.image1}}" alt="image1">
            <img src="/images/{{bioData.image2}}" alt="image2">
            <img src="/images/{{bioData.image3}}" alt="image3">
        </a>

    <p class="fav-brand">Favourite Brand: {{bioData.fav_brand}}</p>
        
    <p class="description">{{bioData.description}}</p>

    <a href="/" id="back">Back</a>