<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<section id="things">
    {{#each image}}
    <div class="thing-container">
        <a href="/{{name}}">
            <img src="/images/{{image}}" alt="image">
        </a>

        <h3 class="thing-name">{{name}}</h3>
    </div>

    {{/each}}
</section>